header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  #logo {
    max-height: 150px;
    width: auto;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    text-align: center;
  }
  
  main h1 {
    text-align: center;
  }
  
  main p {
      font-weight: bold;
  }
  
  footer {
      display: flex;
      justify-content: center;
  }